{% extends "base.html" %}
{% block content %}

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="content container-fluid">

<!-- Page Header -->
<div class="page-header">
	<div class="row">
		<div class="col-sm-12">
			<h3 class="page-title">예약현황</h3>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="index">메인</a></li>
				<li class="breadcrumb-item active">예약현황</li>
			</ul>
		</div>
	</div>
</div>
<!-- /Page Header -->
<div class="row">
	<div class="col-md-12">
		<!-- Recent Orders -->
		<div class="card">
			<div class="card-body">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<form class="form-inline my-2 my-lg-0 search" method="post" name="searchForm">
						{% csrf_token %}
						<select style="width: 6em;" class="custom-select custom-select-md" name="type">
                                <option value="d_name">의사명</option>
                                <option value="dep_name">진료과목</option>
                                <option value="p_name">환자명</option>
                        </select>
						<input type="text" name="search_keyword" value="" class="form-control form-control-md" style="width: 15em;" placeholder="검색어를 입력해주세요.">
						<input class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchbtn" onclick="search()" value="검색">
					</form>
				  </div>
				</nav>
				<div class="table-responsive">
					{% if q %}
					<h5>'{{ q }}' 검색 결과입니다.</h5>
					{% endif %}
					<table class="table table-striped table-bordered datatable table-center mb-0" id="appoinment_table">
						<thead>
							<tr>
								<th class="text-center">예약번호</th>
								<th class="text-center">의사명</th>
								<th class="text-center">진료과목</th>
								<th class="text-center">환자명</th>
								<th class="text-center">예약시간</th>
								<!--<th>예약상태</th>-->
								<th class="text-center">예약일</th>
							</tr>
						</thead>
						<tbody>
							<!-- 리스트 -->
							{% if appointmentList %}
							{% for appointment in appointmentList %}
							<tr>
								<td class="text-center">No. {{appointment.7}}</td>
								<td class="text-center">
									<h2 class="table-avatar">
										<a href="doctor_profile?doctor_num={{appointment.0}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{baseUrl}}/doctor/profileImg/{{appointment.2}}" alt="User Image"></a>
										<a href="doctor_profile?doctor_num={{appointment.0}}">{{appointment.1}}</a>
									</h2>
								</td>
								<td class="text-center">{{appointment.3}}</td>
								<td class="text-center">
									<h2 class="table-avatar">
										<a href="patient_profile?patient_num={{appointment.4}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{baseUrl}}/patient/profileImg/{{appointment.6}}" alt="User Image"></a>
										<a href="patient_profile?patient_num={{appointment.4}}">{{appointment.5}} </a>
									</h2>
								</td>
								<td class="text-center">{{ appointment.8|slice:"0:4" }}년 {{ appointment.8|slice:"5:7" }}월 {{ appointment.8|slice:"8:10" }}일 <span class="text-primary d-block">{{appointment.9}}</span></td>
								<!--<td>
									<div class="status-toggle">
										<input type="checkbox" id="status_1" class="check" checked>
										<label for="status_1" class="checktoggle">checkbox</label>
									</div>
								</td>-->
								<td class="text-center">
									<span>{{appointment.10}}</span>
								</td>
							</tr>
							<!-- 리스트 -->
							{% endfor %}
						{% endif %}
						{% if appointment_search_list %}
							{% for appointment in appointment_search_list %}
							<tr>
								<td class="text-center">No. {{appointment.7}}</td>
								<td class="text-center">
									<h2 class="table-avatar">
										<a href="doctor_profile?doctor_num={{appointment.0}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{baseUrl}}/doctor/profileImg/{{appointment.2}}" alt="User Image"></a>
										<a href="doctor_profile?doctor_num={{appointment.0}}">{{appointment.1}}</a>
									</h2>
								</td>
								<td class="text-center">{{appointment.3}}</td>
								<td class="text-center">
									<h2 class="table-avatar">
										<a href="patient_profile?patient_num={{appointment.4}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{baseUrl}}/patient/profileImg/{{appointment.6}}" alt="User Image"></a>
										<a href="patient_profile?patient_num={{appointment.4}}">{{appointment.5}} </a>
									</h2>
								</td>
								<td class="text-center">{{ appointment.8|slice:"0:4" }}년 {{ appointment.8|slice:"5:7" }}월 {{ appointment.8|slice:"8:10" }}일 <span class="text-primary d-block">{{appointment.9}}</span></td>
								<!--<td>
									<div class="status-toggle">
										<input type="checkbox" id="status_1" class="check" checked>
										<label for="status_1" class="checktoggle">checkbox</label>
									</div>
								</td>-->
								<td class="text-center">
									<span>{{appointment.10}}</span>
								</td>
							</tr>
							<!-- 리스트 -->
							{% endfor %}
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="blog-pagination">
						<nav>
							<ul class="pagination justify-content-center">
								{% if p_num %}
								{% for p in p_num %}
								<li class="page-item">
									<a class="page-link" href="appointment_list?p_num={{p}}">{{p}}</a>
								</li>
								{% endfor %}
								{% endif %}

								{% if search_p_num %}
								{% for p in search_p_num %}
								<li class="page-item">
									<a class="page-link" href="appointment_search_list?p_num={{p}}">{{p}}</a>
								</li>
								{% endfor %}
								{% endif %}
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- /Recent Orders -->

	</div>
</div>
</div>

<script type="text/javascript">
    $(function(){
    });

    function search(){
		var search_keyword = $('input[name=search_keyword]').val();
		if(search_keyword.length <= 1){
			alert('2글자 이상 입력해주세요')
			return false
		}else{
			$('.search').attr("action","appointment_search_list").submit();
		}
    };
</script>

{% endblock content %}