{% extends "base.html" %}
{% block content %}
                <div class="content container-fluid">
					
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col">
								<h3 class="page-title">프로필</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index">메인</a></li>
									<li class="breadcrumb-item active">프로필</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-12">
							<div class="profile-header">
								<div class="row align-items-center">
									<div class="col-auto profile-image">
										<a>
											<img class="rounded-circle" alt="User Image" src="{{baseUrl}}/doctor/profileImg/{{doctor.16}}">
										</a>
									</div>
									<div class="col profile-user-info">
										<h4 class="user-name">{{doctor.3}}</h4>
										<h6 class="text-muted">{{doctor.10}}</h6>
										<p class="text-muted text-sm-left ">{{doctor.22}}</p>
										<div class="user-Location"><i class="fas fa-map-marker-alt"></i> {{doctor.8}}</div>
									</div>
									<!--
									<div class="col-auto profile-btn">

										<a href="" class="btn btn-primary">
											수정
										</a>
									</div>
									-->
								</div>
							</div>
							<div class="profile-menu">
								<ul class="nav nav-tabs nav-tabs-solid">
									<li style="margin:auto"><strong>{{doctor.18}}</strong></li>
								</ul>
							</div>	
							<div class="tab-content profile-tab-cont">
								
								<!-- Personal Details Tab -->
								<div class="tab-pane fade show active" id="per_details_tab">
								
									<!-- Personal Details -->
									<div class="row">
										<div class="col-lg-12">
											<div class="card">
												<div class="card-body">

													<h5 class="card-title d-flex justify-content-between">
														<span>개인정보 상세</span>
													</h5>
													<div class="row">
														<p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">이름</p>
														<p class="col-sm-10">{{doctor.3}}</p>
													</div>
													<div class="row">
														<p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">생년월일</p>
														<p class="col-sm-10">{{doctor.25|slice:"0:4"}}년 {{doctor.25|slice:"4:6"}}월 {{doctor.25|slice:"6:8"}}일</p>
													</div>
													<div class="row">
														<p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">이메일</p>
														<p class="col-sm-10">{{doctor.10}}</p>
													</div>
													<div class="row">
														<p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">휴대폰</p>
														<p class="col-sm-10">{{ doctor.6|slice:"0:3" }}-{{ doctor.6|slice:"3:7" }}-{{ doctor.6|slice:"7:11" }}</p>
													</div>
													<div class="row">
														<p class="col-sm-2 text-muted text-sm-right">우편번호</p>
														<p class="col-sm-10" >{{doctor.7}}</p>
													</div>
													<div class="row">
														<p class="col-sm-2 text-muted text-sm-right">주소</p>
														<p class="col-sm-10" >{{doctor.8}}<br/>
														{% if doctor.9 %}
														{{doctor.9}}</p>
														{% endif %}
													</div>
													<div class="row">
														<p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">입사일</p>
														<p class="col-sm-10">{{doctor.23}}</p>
													</div>
													<div class="row">
														<p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">재직상태</p>
														<p class="col-sm-10">
															{% if doctor.20 %}
																{{doctor.24}} 퇴사
															{% else %}
															재직중
															{% endif %}
														</p>
													</div>
													<div class="row">
														<p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">학력</p>
														<p class="col-sm-10">
															{% for gradu in graduation %}
																{% for g in gradu %}
																{{g}}
																{% endfor %}
																<br/>
															{% endfor %}
														</p>
													</div>
													<div class="row">
														<p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">경력</p>
														<p class="col-sm-10">
															{% for car in career %}
																{% for c in car %}
																{{c}}
																{% endfor %}
																<br/>
															{% endfor %}
														</p>
													</div>
												</div>
											</div>

									
									</div>
									<!-- /Personal Details -->

								</div>
								<!-- /Personal Details Tab -->
								
								<!-- Change Password Tab -->
								<div id="password_tab" class="tab-pane fade">
								
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">비밀번호 변경</h5>
											<div class="row">
												<div class="col-md-10 col-lg-6">
													<form>
														<div class="form-group">
															<label>현재 비밀번호</label>
															<input type="password" class="form-control">
														</div>
														<div class="form-group">
															<label>새 비밀번호</label>
															<input type="password" class="form-control">
														</div>
														<div class="form-group">
															<label>비밀번호 확인</label>
															<input type="password" class="form-control">
														</div>
														<button class="btn btn-primary" type="submit">저장</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Change Password Tab -->
								
							</div>
						</div>
					</div>
				
				</div>
			</div>
			<!-- /Page Wrapper -->

{% endblock content %}
