{% extends "base.html" %}
{% block content %}
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
$(document).ready(function(){

		// 삭제버튼
		$('.btn.btn-sm.bg-danger-light').click(function(){
			var index = $(this).closest('tr').index();
			$('.doctor_num').val($('tbody > tr:eq('+index+')').find('td:eq(0)').find('span').text());
		});

		$('.get_auth_num').click(function(){
			$.ajax({
				type:'post',
				url:'insertAuthNumber',
				dataType : 'json',
				success : function(data){
					$(".auth_check").html('인증번호 : '+data.success);
					$('.auth_check').css('color', 'red');
				}
			});//ajax
			$("#auth_number_modal").remove();
			$("div.modal-backdrop").removeAttr("class");
		});//클릭버튼


});



</script>
<div class="content container-fluid">

<!-- Page Header -->
<div class="page-header">
	<div class="row">
		<div class="col-sm-12">
			<h3 class="page-title">의사목록</h3>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="index">메인</a></li>
				<li class="breadcrumb-item active">의사목록</li>
			</ul>
		</div>
	</div>
</div>
<!-- /Page Header -->

<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
						{% csrf_token %}
						<a  data-toggle="modal" href="#auth_number_modal" class="btn btn-outline-success my-2 my-sm-0">
							회원 가입 인증번호 발급하기
						</a>
					  <div class="auth_check m-2"></div>

				  </div>
				<div class="nav navbar-nav navbar-right" id="search">
				<form class="form-inline my-2 my-lg-0 search" method="post" name="searchForm">
					{% csrf_token %}
					<select style="width: 6em; margin-right:10px" class="custom-select custom-select-md" name="type">
							<option value="d_name">의사명</option>
							<option value="dep_name">진료과목</option>
					</select>
					<input type="text" name="search_keyword" value="" class="form-control form-control-md" style="width: 15em; margin-right:10px" placeholder="검색어를 입력해주세요.">
					<input class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchbtn" onclick="search()" value="검색">
				</form>
			  </div>
				</nav>

				<div class="table-responsive">
					<table class="datatable table table-hover table-striped table-bordered table-center mb-0 doctorTable">
						<thead>
							<tr>
								<th class="text-center" >No</th>
								<th class="text-center" >의사명</th>
								<th class="text-center" >진료과목</th>
								<th class="text-center" >입사일</th>
								<th class="text-center" >연락처</th>
								<th class="text-center" style="cursor:pointer" onclick="state()">상태</th>
								<th class="text-center" ></th>

							</tr>
						</thead>
						<tbody>
							<!--  의사 리스트 -->
							{% if doctorList %}
							{% for doctor in doctorList %}
							<tr>
								<input type="hidden" name="doctor_num" value="{{doctor.0}}" >
								<td class="text-center">D00<span>{{doctor.0}}</span></td>
								<td class="text-center">
									<h2 class="table-avatar">
								{% if doctor.2 != None %}
										<a href="doctor_profile?doctor_num={{doctor.0}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{baseUrl}}/doctor/profileImg/{{doctor.2}}" alt="User Image"></a>
								{% else %}
										<a href="doctor_profile?doctor_num={{doctor.0}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{baseUrl}}/img/unnamed.png" alt="User Image"></a>
								{% endif %}
										<a href="doctor_profile?doctor_num={{doctor.0}}">{{doctor.1}}</a>
									</h2>
								</td>
								<td class="text-center">{{doctor.3}}</td>
								<td class="text-center">{{ doctor.7|slice:"0:4" }}년 {{ doctor.7|slice:"5:7" }}월 {{ doctor.7|slice:"8:10" }}일</td>
								<td class="text-center">{{ doctor.5|slice:"0:3" }}-{{ doctor.5|slice:"3:7" }}-{{ doctor.5|slice:"7:11" }}</td>
								<td class="text-center">
									{% if doctor.8 %}
									<span class="badge badge-pill bg-danger-light">퇴직</span>
									{% else %}
									<span class="badge badge-pill bg-success-light">재직</span>
									{% endif %}
								</td>
								<td class="text-center">
									<div class="actions">
										<a  data-toggle="modal" href="#delete_modal" class="btn btn-sm bg-danger-light">
											<i class="fe fe-trash"></i> 삭제
										</a>
									</div>
								</td>
							</tr>
						{% endfor %}
						{% endif %}
						{% if doctor_search_list %}
							{% for doctor in doctor_search_list %}
							<tr>
								<input type="hidden" name="doctor_num" value="{{doctor.0}}" >
								<td class="text-center">D00<span>{{doctor.0}}</span></td>
								<td class="text-center">
									<h2 class="table-avatar">
								{% if doctor.2 != None %}
										<a href="doctor_profile?doctor_num={{doctor.0}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{baseUrl}}/doctor/profileImg/{{doctor.2}}" alt="User Image"></a>
								{% else %}
										<a href="doctor_profile?doctor_num={{doctor.0}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{baseUrl}}/img/unnamed.png" alt="User Image"></a>
								{% endif %}
										<a href="doctor_profile?doctor_num={{doctor.0}}">{{doctor.1}}</a>
									</h2>
								</td>
								<td class="text-center">{{doctor.3}}</td>
								<td class="text-center">{{ doctor.7|slice:"0:4" }}년 {{ doctor.7|slice:"5:7" }}월 {{ doctor.7|slice:"8:10" }}일</td>
								<td class="text-center">{{ doctor.5|slice:"0:3" }}-{{ doctor.5|slice:"3:7" }}-{{ doctor.5|slice:"7:11" }}</td>
								<td class="text-center">
									{% if doctor.8 %}
									<span class="badge badge-pill bg-danger-light">퇴직</span>
									{% else %}
									<span class="badge badge-pill bg-success-light">재직</span>
									{% endif %}
								</td>
								<td class="text-center">
									<div class="actions">
										<a  data-toggle="modal" href="#delete_modal" class="btn btn-sm bg-danger-light">
											<i class="fe fe-trash"></i> 삭제
										</a>
									</div>
								</td>
							</tr>
						{% endfor %}
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="blog-pagination">
					<nav>
						<ul class="pagination justify-content-center">
								{% if p_num %}
								{% for p in p_num %}
								<li class="page-item">
									<a class="page-link" href="doctor_list?p_num={{p}}">{{p}}</a>
								</li>
								{% endfor %}
								{% endif %}

								{% if search_p_num %}
								{% for p in search_p_num %}
								<li class="page-item">
									<a class="page-link" href="doctor_search_list?p_num={{p}}">{{p}}</a>
								</li>
								{% endfor %}
								{% endif %}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

</div>


<!-- Edit Details Modal -->
<div class="modal fade" id="edit_specialities_details" aria-hidden="true" role="dialog">
<div class="modal-dialog modal-dialog-centered" role="document" >
<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title">진료과목 수정</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="row form-row">
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>진료과목</label>
						<input type="text" class="form-control" value="진료과목">
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>입사일</label>
						<input type="text" class="form-control" value="입사일">
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>연봉</label>
						<input type="text" class="form-control" value="연봉">
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-block">저장하기</button>
		</form>
	</div>
</div>
</div>
</div>
<!-- /Edit Details Modal -->

<!-- Delete Modal -->
<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
<div class="modal-dialog modal-dialog-centered" role="document" >
<div class="modal-content">
<!--	<div class="modal-header">
		<h5 class="modal-title">Delete</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>-->
	<div class="modal-body">
		<div class="form-content p-2">
			<h4 class="modal-title">의사 삭제</h4>
			<p class="mb-4">정말로 해당 의사를 삭제하시겠습니까?</p>
			<form action="deleteDoctor" method="post">
				{% csrf_token %}
				<input type="hidden" name="doctor_num" value="" class="doctor_num">
				<input type="submit" class="btn btn-primary" value="삭제하기"> </input>
				<button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
			</form>
		</div>
	</div>
</div>
</div>
</div>
<!-- /Delete Modal -->

<!-- auth_number_modal -->
<div class="modal" id="auth_number_modal" aria-hidden="true" role="dialog">
<div class="modal-dialog modal-dialog-centered" role="document" >
<div class="modal-content">
	<div class="modal-body">
		<div class="form-content p-2" style="text-align: center;">
			<h4 class="modal-title">회원가입 인증번호 발급</h4>
			<p class="mb-4">⏳인증번호 제한 시간은 5분 입니다.</p>
			<form method="post">
				{% csrf_token %}
				<input type="button" class="btn btn-primary get_auth_num" value="발급하기">
				<button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
			</form>
		</div>
		<div id="auth_num_chk">
			{{auth_num_chk}}
		</div>
	</div>
</div>
</div>
</div>
<!-- /auth_number_modal -->

<script type="text/javascript">
    function search(){
		var search_keyword = $('input[name=search_keyword]').val();
		$('.search').attr("action","doctor_search_list").submit();
    };//검색

    function state(){
    	alert()
    };//재직퇴직
</script>

{% endblock content %}