{% extends "base.html" %}
{% load humanize %}
{% load index %}
{% block content %}

<style>
.c3-axis-y text
{
     font-size: 12px;
}

.c3-axis-x text
{
     font-size: 15px;
}
.c3-legend-item
{
     font-size: 15px;
}

</style>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
$(function(){

	var barchart = c3.generate({
		bindto: '#barchart',
		data: {
			columns: [
				['의사', {{newChart.0}}],
				['환자', {{newChart.1}}],
				['예약', {{newChart.2}}],
			],
			axes: {
				예약: 'y2'
			},
			type: 'bar'
		},
		axis: {
			x:{
				show: false
			},
			y2: {
				show: true
			}
		},
		bar: {
			width: {
				ratio: 0.5
			}
		},
		option : {
			responsive: false
		},
		color: {
			pattern: [ '#c5b0d5','#f7b6d2', '#bcbd22', '#dbdb8d', '#17becf', '#9edae5']
		}
	});

	var linedata =[];
	var len = $('input[name=week]').length;
	for(var i = 0 ; i<len ; i++){
		linedata.push([$('input[name=week]').eq(i).val(),$('input[name=mon]').eq(i).val(),$('input[name=tue]').eq(i).val(),$('input[name=wed]').eq(i).val(),$('input[name=thu]').eq(i).val(),$('input[name=fri]').eq(i).val()]);
	}
	var lineChart = c3.generate({
		bindto: '#linechart',
		data: {
			columns:
            linedata
       	},
		axis: {
			x: {
				type: 'category',
				categories: ['월요일', '화요일', '수요일', '목요일', '금요일']
			},
			y : {
				tick: {
					format: d3.format(",")
				}
			}
		},
		color: {
			pattern: [ '#d62728', '#ff9896', '#9467bd', '#c5b0d5', '#8c564b', '#c49c94', '#e377c2', '#f7b6d2', '#7f7f7f', '#c7c7c7', '#bcbd22', '#dbdb8d', '#17becf', '#9edae5']
		},
		grid: {
			x: {
				show: true
			},
			y: {
				show: true
			}
		},
		tooltip: {
			format: {
				value: function(value) {
					return d3.format(",")(value)
				}
			}
		}
	});

	var seasonData =[];
	var len = $('input[name=year]').length;
	for(var i = 0 ; i<len ; i++){
		seasonData.push([$('input[name=year]').eq(i).val(),$('input[name=one]').eq(i).val(),$('input[name=two]').eq(i).val(),$('input[name=three]').eq(i).val(),$('input[name=four]').eq(i).val()]);
	}
	var seasonData = c3.generate({
		bindto: '#seasonData',
		data: {
			columns:seasonData,
			type:'spline'
       	},
		axis: {
			x: {
				type: 'category',
				categories: ['1분기', '2분기', '3분기', '4분기']
			},
			y : {
				tick: {
				format: d3.format(",")
				}
			}
		},
		color: {
			pattern: [ '#17becf']
		},
		grid: {
			x: {
				show: true
			}
		},
		tooltip: {
			format: {
				value: function(value) {
					return d3.format(",")(value)
				}
			}
		}
	});

	var chartData=[];
	var len = $('input[name=p_age]').length;
	for(var i = 0 ; i<len ; i++){
		chartData.push([$('input[name=p_age]').eq(i).val(),$('input[name=p_count]').eq(i).val()]);
	}
	var piechart = c3.generate({
		bindto:'#piechart',
		data: {
			columns: chartData,
			type : 'pie',
		},
    color: {
        pattern: ['#1f77b4', '#aec7e8', '#ff7f0e', '#2ca02c', '#9467bd']
    }
	});//차트함수

	var ai_f_chart=[];
	var ai_m_chart=[];
	ai_f_chart.push(['여자',$('input[name=f_model]').val()]);
	ai_f_chart.push([$('input[name=f_cnt]').val()]);
	ai_m_chart.push(['남자',$('input[name=m_model]').val()]);
	ai_m_chart.push([$('input[name=m_cnt]').val()]);


	var ai_female=[];
	var len = $('input[name=f_Cmodel]').length;
	for(var i = 0 ; i<len ; i++){
		ai_female.push([$('input[name=f_Cmodel]').eq(i).val(),$('input[name=f_Ccnt]').eq(i).val()]);
	}
	var ai_male=[];
	var len = $('input[name=m_Cmodel]').length;
	for(var i = 0 ; i<len ; i++){
		ai_male.push([$('input[name=m_Cmodel]').eq(i).val(),$('input[name=m_Ccnt]').eq(i).val()]);
	}

	var ai_gender_chart = c3.generate({
		bindto:'#ai_chart',
		data: {
			columns: ai_male,
			type : 'pie',
		},
    color: {
        pattern: ['#1f77b4', '#aec7e8', '#ff7f0e', '#2ca02c', '#9467bd']
    }
	});//차트함수

	var gender=[];
	var len = $('input[name=gend_cnt]').length;
	for(var i = 0 ; i<len ; i++){
		gender.push([$('input[name=gend]').eq(i).val(),$('input[name=gend_cnt]').eq(i).val()]);
	}
	var piechart = c3.generate({
		bindto:'#piegender',
		data: {
			columns: gender,
			type : 'pie',
		},
		color: {
			pattern: ['#9edae5','#d62728','#c7c8c7', '#c49c94', '#9467bd', '#ff9896', '#c5b0d5', '#8c564b',  '#e377c2', '#f7b6d2', '#7f7f7f', '#bcbd22', '#dbdb8d', '#17becf', ]
		}
	});//차트함수

	$('.maleChart').click(function(){
		//ai_gender_chart.unload();
		ai_gender_chart.load({
        	columns:ai_male
   		});
	});
	$('.femaleChart').click(function(){
		//ai_gender_chart.unload();
		ai_gender_chart.load({
        	columns:ai_female
   		});
	});

});//시작함수
</script>

<div class="content container-fluid">
<!-- Page Header -->
	<div class="page-header">
		<div class="row">
			<div class="col-sm-12">
			<h3 class="page-title">관리자님 환영합니다!</h3>
			</div>
		</div>
	</div>
<!-- /Page Header -->
	<div class="row" style="justify-content: center; margin: 20px;">
		<div class="col-md-12 col-lg-6">
			<div class="card card-chart">
			<div class="card-header">
				<h4 class="card-title">신규 데이터</h4>
			</div>
			<div class="card-body">
				<div id="barchart"></div>
			</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-6">
			<div class="card card-chart">
			<div class="card-header">
				<h4 class="card-title">수익</h4>
			</div>
			<div class="card-body">
				<div id="linechart"></div>
			</div>
		</div>
		</div>
	</div>

	{% for week,mon,tue,wed,thu,fri in priceChart%}
	<input type="hidden" name="week" class="week" value="금주 일별 수익">
	<input type="hidden" name="mon" class="mon" value="{{mon}}">
	<input type="hidden" name="tue" class="tue" value="{{tue}}">
	<input type="hidden" name="wed" class="wed" value="{{wed}}">
	<input type="hidden" name="thu" class="thu" value="{{thu}}">
	<input type="hidden" name="fri" class="fri" value="{{fri}}">
	{% endfor %}
	{% for year,one,two,three,four in seosonPrice%}
	<input type="hidden" name="year" class="year" value="올해 분기별 수익">
	<input type="hidden" name="one" class="one" value="{{one}}">
	<input type="hidden" name="two" class="two" value="{{two}}">
	<input type="hidden" name="three" class="three" value="{{three}}">
	<input type="hidden" name="four" class="four" value="{{four}}">
	{% endfor %}
	{% for p_age,p_count in patient_count%}
	<input type="hidden" name="p_age" class="p_age" value="{{p_age}}">
	<input type="hidden" name="p_count" class="p_count" value="{{p_count}}">
	{% endfor %}

	{% for gend,gend_cnt in gender%}
	<input type="hidden" name="gend" class="gend" value="{{gend}}">
	<input type="hidden" name="gend_cnt" class="gend_cnt" value="{{gend_cnt}}">
	{% endfor %}

	{% for f_Cmodel,f_Ccnt in aiFemaleFav%}
	<input type="hidden" name="f_Cmodel" class="f_Cmodel" value="{{f_Cmodel}}">
	<input type="hidden" name="f_Ccnt" class="f_Ccnt" value="{{f_Ccnt}}">
	{% endfor %}
	{% for m_Cmodel,m_Ccnt in aiMaleFav%}
	<input type="hidden" name="m_Cmodel" class="m_Cmodel" value="{{m_Cmodel}}">
	<input type="hidden" name="m_Ccnt" class="m_Ccnt" value="{{m_Ccnt}}">
	{% endfor %}

	<input type="hidden" name="f_model" class="f_model" value="{{aiGenderFav.0}}">
	<input type="hidden" name="f_cnt" class="f_cnt" value="{{aiGenderFav.1}}">
	<input type="hidden" name="m_model" class="m_model" value="{{aiGenderFav.2}}">
	<input type="hidden" name="m_cnt" class="m_cnt" value="{{aiGenderFav.3}}">

	<div class="row" style="justify-content: center; margin: 20px;">
		<div class="col-md-12 col-lg-6">
			<div class="card card-chart">
			<div class="card-header">
				<h4 class="card-title">고객분포(연령별)</h4>
			</div>
			<div class="card-body">
				<div id="piechart">	</div>
			</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-6">
			<div class="card card-chart">
			<div class="card-header">
				<h4 class="card-title">고객분포(성별)</h4>
			</div>
			<div class="card-body">
				<div id="piegender"></div>
			</div>
		</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12 col-lg-6">

		<!-- Sales Chart -->
			<div class="card card-chart">
				<div class="card-header">
					<h4 class="card-title">수익</h4>
				</div>
				<div class="card-body">
					<div id="seasonData"></div>
				</div>
			</div>
		<!-- /Sales Chart -->

		</div>
	<div class="col-md-12 col-lg-6">

	<div class="card card-chart">
		<div class="card-header">
			<h4 class="card-title" style="float: left;">AI 진단 현황</h4>
			<button type="button" class="btn btn-link maleChart" onclick="" style="float: right;">남성별</button>
			<button type="button" class="btn btn-link femaleChart" onclick="" style="float: right;">여성별</button>
		</div>
		<div class="card-body">
			<div id="ai_chart"></div>
		</div>
	</div>

	</div>
	</div>
	<div class="row" >
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-primary border-primary">
						<i class="fe fe-users"></i>
						</span>
						<div class="dash-count">
						<h3>{{doctorList.0.10}}</h3>
						</div>
					</div>
					<div class="dash-widget-info">
						<h6 class="text-muted">누적 의사 회원</h6>
						<div class="progress progress-sm">
							<div class="progress-bar bg-primary w-50"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-success">
						<i class="fe fe-credit-card"></i>
						</span>
						<div class="dash-count">
						<h3>{{patientList.0.9}}</h3>
						</div>
					</div>
					<div class="dash-widget-info">

					<h6 class="text-muted">누적 환자 회원</h6>
						<div class="progress progress-sm">
						<div class="progress-bar bg-success w-50"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-danger border-danger">
							<i class="fe fe-money"></i>
						</span>
						<div class="dash-count">
							<h3>￦{{sum_price.0|intcomma}}</h3>
						</div>
					</div>
					<div class="dash-widget-info">

					<h6 class="text-muted">누적 수익</h6>
						<div class="progress progress-sm">
							<div class="progress-bar bg-danger w-50"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-warning border-warning">
							<i class="fe fe-folder"></i>
						</span>
						<div class="dash-count">
							<h3>{{appointmentList.0.12}}</h3>
						</div>
					</div>
					<div class="dash-widget-info">

					<h6 class="text-muted">누적 예약 건수</h6>
						<div class="progress progress-sm">
							<div class="progress-bar bg-warning w-50"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- Recent Orders -->
	<div class="card card-table">
		<div class="card-header">
			<h4 class="card-title">예약 목록</h4>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-hover table-center mb-0">
					<thead>
						<tr>
							<th>의사명</th>
							<th>환자명</th>
							<th>과목</th>
							<th>예약시간</th>
							<th>상태</th>
						</tr>
					</thead>
					<tbody>
					{% for appointment in appointmentList %}
						<tr>
							<td>
								<h2 class="table-avatar">
								<a href="doctor_profile?doctor_num={{appointment.0}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{baseUrl}}/doctor/profileImg/{{appointment.2}}" alt="User Image"></a>
								<a href="doctor_profile?doctor_num={{appointment.0}}">{{appointment.1}}</a>
								</h2>
							</td>
							<td>
								<h2 class="table-avatar">
								<a href="patient_profile?patient_num={{appointment.4}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{baseUrl}}/patient/profileImg/{{appointment.6}}" alt="User Image"></a>
								<a href="patient_profile?patient_num={{appointment.4}}">{{appointment.5}}</a>
								</h2>
							</td>
							<td>{{appointment.3}}</td>
							<td>{{ appointment.8|slice:"0:4" }}년 {{ appointment.8|slice:"5:7" }}월 {{ appointment.8|slice:"8:10" }}일 <span class="text-primary d-block">{{appointment.9}}</span></td>
							<td>
								{% if patient_type|index:forloop.counter0 != none %}
									<span class="badge badge-pill bg-success inv-badge">기존</span>
								{% else %}
									<span class="badge badge-pill bg-danger inv-badge">신규</span>
								{% endif %}
								<!--<div class="status-toggle">
									<input type="checkbox" id="status_1" class="check" checked>
									<label for="status_1" class="checktoggle">checkbox</label>
								</div>-->
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	<button type="button" class="btn btn-link" onclick="location.href='appointment_list'">더보기...</button>
	</div>
<!-- /Recent Orders -->


	<div class="row">
		<div class="col-md-6 d-flex">

		<!-- Recent Orders -->
			<div class="card card-table flex-fill">
			<div class="card-header">
			<h4 class="card-title">의사 목록</h4>
			</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover table-center mb-0">
							<thead>
								<tr>
								<th>의사명</th>
								<th>진료과목</th>
								<th>월 예약건수</th>
								<th>평점</th>
								</tr>
							</thead>
							<tbody>
								{% for doctor in doctorList %}
								<tr>
									<td>
										<h2 class="table-avatar">
										<a href="doctor_profile?doctor_num={{doctor.0}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{baseUrl}}/doctor/profileImg/{{doctor.2}}" alt="User Image"></a>
										<a href="doctor_profile?doctor_num={{doctor.0}}">{{doctor.1}}</a>
										</h2>
									</td>
									<td>{{doctor.3}}</td>
									<td>{{doctor.9}}</td>
									<td>
										{% for i in '01234'|make_list %}
											{% if reviewAvg.0 > forloop.counter0 %}
												<i class="fe fe-star text-warning"></i>
											{% else %}
												<i class="fe fe-star-o text-secondary"></i>
											{% endif %}
										{% endfor %}
									</td>
								</tr>

							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			<button type="button" class="btn btn-link" onclick="location.href='doctor_list'">더보기...</button>
			</div>
		<!-- /Recent Orders -->

		</div>
		<div class="col-md-6 d-flex">

		<!-- Feed Activity -->
			<div class="card  card-table flex-fill">
				<div class="card-header">
					<h4 class="card-title">환자 목록</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover table-center mb-0">
							<thead>
								<tr>
									<th>환자명</th>
									<th>연락처</th>
									<th>마지막 예약일</th>
									<th>결제금액</th>
								</tr>
							</thead>
							<tbody>
								{% for patient in patientList %}
								<tr>
									<td>
										<h2 class="table-avatar">
											<a href="patient_profile?patient_num={{patient.10}}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{baseUrl}}/patient/profileImg/{{patient.3}}" alt="User Image"></a>
											<a href="patient_profile?patient_num={{patient.10}}">{{patient.2}} </a>
										</h2>
									</td>
									<td>{{ patient.7|slice:"0:3" }}-{{ patient.7|slice:"3:7" }}-{{ patient.7|slice:"7:11" }}</td>
									<td>{{lastAppointment|index:forloop.counter0}}</td>

									<td>￦ {{patient_sumprice|index:forloop.counter0|intcomma}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			<button type="button" class="btn btn-link" onclick="location.href='patient_list'">더보기...</button>
			</div>
		<!-- /Feed Activity -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">



		</div>
	</div>

</div>


{% endblock content %}